:root {
    /* Gray */
    --gray-0: #FFFFFF;
    --gray-50: #E6E6E6;
    --gray-200: #999999;
    --gray-400: #808080;
    --gray-600: #4C4C4C;
    --gray-800: #333333;
    --gray-900: #191919;

    /* orange */
    --orange-200: #FFB966;
    --orange-400: #FF8A00;
    --orange-600: #CC6E00;

    /* Red */
    --red-200: #F5A5A4;
    --red-400: #EA4B48;
    --red-600: #E51E1A;

    /* Green */
    --green-0: #EDF2EE;
    --green-200: #618062;
    --green-400: #00B207;
    --green-600: #2C742F;
    --green-800: #002603;
}